.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: auto ;
}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #1f1f1f
    ;
    position: fixed;
    top: 0; 
    width: 100%;
  }
  
  /* Link in de navigatie */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
  }
  
  
  .navbar a:hover {
    background: #0d163f;
    color: red;
  }
  
  
  .main {
    margin-top: 30px;
  }
  .column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    position:fixed;
  }
  a {
    color:#3FE2FF;

  }

ul{
  color: #3FE2FF;
}
  .black{
    color:black;
  }
  .white{
    color:white;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f1f1f;
    color: white;
    text-align: center;
  }